libsnark/build/*
seal/build/*
obliv-c/a.out
obliv-c/innerProd/a.out
rsa-psi/*.raw
rsa-psi/*.pem
rsa-psi/__pycache__/*
sgx/SecureCrypto/.vs/*
sgx/SecureCrypto/Debug/*
sgx/SecureCrypto/Release/*
sgx/SecureCrypto/Simulation/*
sgx/SecureCrypto/x64/*
sgx/SecureCrypto/CryptoApp/Debug/*
sgx/SecureCrypto/CryptoApp/Release/*
sgx/SecureCrypto/CryptoApp/Simulation/*
sgx/SecureCrypto/CryptoApp/x64/*
sgx/SecureCrypto/CryptoEnclave/Debug/*
sgx/SecureCrypto/CryptoEnclave/Release/*
sgx/SecureCrypto/CryptoEnclave/Simulation/*
sgx/SecureCrypto/CryptoEnclave/x64/*
